$key-color: skyblue;
$white: rgb(209, 209, 211);

// 공통사항
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $white;
}

body,
html {
  height: 100%;
  background-color: rgb(36, 36, 36);
  box-sizing: border-box;
}

button {
  color: black;
}

// root 영역
.root {
  width: 100%;
  // display: flex;
  justify-content: center;
  align-items: center;
}

// 헤더영역
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
}

// 헤더영역 - nav

.nav button {
  background-color: transparent;
  border-style: none;
  margin-right: 20px;
  color: rgb(209, 209, 211);
}

// 헤더영역 - 로고
.logo {
  font-size: 40px;
  color: $white;
  margin-right: 20px;
  font-family: 'East Sea Dokdo', cursive;
}

// 메인영역
.home-page-container {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  // background: linear-gradient(298deg, #0f1b49, #474747, #121205, #0a1a2d);
  // background-size: 800% 800%;

  // -webkit-animation: AnimationName 6s ease infinite;
  // -moz-animation: AnimationName 6s ease infinite;
  // animation: AnimationName 6s ease infinite;

  // @-webkit-keyframes AnimationName {
  //   0% {
  //     background-position: 0% 49%;
  //   }
  //   50% {
  //     background-position: 100% 52%;
  //   }
  //   100% {
  //     background-position: 0% 49%;
  //   }
  // }
  // @-moz-keyframes AnimationName {
  //   0% {
  //     background-position: 0% 49%;
  //   }
  //   50% {
  //     background-position: 100% 52%;
  //   }
  //   100% {
  //     background-position: 0% 49%;
  //   }
  // }
  // @keyframes AnimationName {
  //   0% {
  //     background-position: 0% 49%;
  //   }
  //   50% {
  //     background-position: 100% 52%;
  //   }
  //   100% {
  //     background-position: 0% 49%;
  //   }
  // }

  background: linear-gradient(179deg, #232323, #6b748e, #898989);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
}

.main-text {
  font-size: 35px;
  color: black;
}
.card {
  padding: 5px;
  box-shadow: 10px 10px 20px #232323;
}
.card-img {
  line-height: 200px;
  color: black;
  font-size: 20px;
  height: 200px;
  background-color: rgb(212, 212, 212);
}
.enter-btn {
  width: 200px;
  height: 40px;
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

// 로그인 폼
.login-form-container {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: table;
}
.login-form {
  display: table-cell;
  vertical-align: middle;
}

// 회원가입 폼
.sign-up-container {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: table;
}
.sign-up-form {
  display: table-cell;
  vertical-align: middle;
}
//카테고리
.post-page-container {
  display: flex;
  justify-content: center;
}

.post-page-container div {
  margin-right: 2px;
}

.material,
.subject,
.shape,
.colors {
  width: 400px;
}

.material button {
  width: 110px;
}
.subject button,
.shape button {
  width: 134px;
}
.colors button {
  width: 60px;
}
// 색상 카테고리
div[role='group'] {
  margin-top: -20px;
}

.colors button {
  color: white;
}

.red {
  background-color: rgb(235, 61, 61);
}
.red:hover {
  background-color: rgb(255, 134, 134);
}

.orange {
  background-color: rgb(247, 119, 35);
}
.orange:hover {
  background-color: rgb(255, 155, 97);
}

.yellow {
  background-color: rgb(255, 183, 27);
}
.yellow:hover {
  background-color: rgb(255, 222, 151);
}

.green {
  background-color: rgb(85, 167, 19);
}
.green:hover {
  background-color: rgb(149, 218, 132);
}

.blue {
  background-color: rgb(19, 88, 167);
}
.blue:hover {
  background-color: rgb(132, 177, 218);
}

.navy {
  background-color: rgb(8, 29, 53);
}
.navy:hover {
  background-color: rgb(47, 81, 114);
}

.violet {
  background-color: rgb(71, 24, 124);
}
.violet:hover {
  background-color: rgb(117, 59, 165);
}
// 상품리스트
.post-list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.post-item-container {
  margin-right: 30px;
}

// 상품페이지
.all-checked input {
  width: 20px;
  height: 20px;
  margin: 50px 0 0 160px;
}
.post-page-container {
  padding-top: 20px;
}

// 상세페이지
.detail-page-container {
  margin-top: 150px;
}

.cart-page-container div {
  margin-top: 500px;
}

// 푸터
footer {
  color: #fefefe;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: rgb(46, 46, 46);
}
