@use postcss-cssnext;
$key-color: skyblue;
$white: rgb(209, 209, 211);

div,
p {
  animation-duration: 2.5s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
}

// .rotate {
//   animation-name: rotate;
// }
.bounce {
  animation-name: bounce;
}
.deform {
  animation-name: deform;
}

.position {
  bottom: 10%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

// p.deform {
//   border-bottom: 100px solid rgb(230, 183, 29);
//   border-left: 25px solid transparent;
//   border-right: 25px solid transparent;
//   height: 0;
//   width: 80px;
//   line-height: 80px;
//   text-indent: -5px;
//   color: #fefefe;
// }

// p.deform::before {
//   content: '';
//   display: inline-block;
//   position: absolute;
//   right: -25px;
//   width: 80px;
//   height: 80px;
//   border-radius: 50%;
//   background: rgb(230, 183, 29);
// }

// p.deform::after {
//   content: '';
//   display: inline-block;
//   position: absolute;
//   bottom: 0;
//   right: -4.8px;
//   background: rgb(226, 226, 226);
//   width: 40px;
//   height: 20px;
//   border-top: 10px solid transparent;
// }

// @keyframes rotate {
//   0%,
//   25% {
//     animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
//     transform: rotate(0deg);
//   }

//   85%,
//   100% {
//     transform: rotate(540deg);
//   }
// }

@keyframes bounce {
  0%,
  25%,
  100% {
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    transform: translateY(0);
  }

  62.5% {
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    transform: translateY(-200%);
  }
}

@keyframes deform {
  0%,
  25%,
  100% {
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    transform: translateY(0) scale(1, 1);
  }

  12.5% {
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    transform: translateY(33%) scale(1.75, 0.33);
  }
}

// 공통사항
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $white;
}

body,
html {
  height: 100%;
  background-color: rgb(54, 54, 52);
}

button {
  color: black;
}

// 헤더영역
.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // position: fixed;
  // top: 0;
  // z-index: 1;
  width: 100%;
  height: 80px;
  padding: 15px;
  // background-color: rgba(0, 0, 0, 0.4);
}

// 헤더영역 - nav
.nav button {
  background-color: transparent;
  border-style: none;
  margin-right: 20px;
  color: rgb(209, 209, 211);
}

// input[type='checkbox'] {
//   display: none;
// }

// 헤더영역 - 로고
.logo {
  color: rgb(217, 236, 234);
}

// 메인영역
.home-page-container {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: table;

  background: linear-gradient(34deg, #162667, #df350e, #532076, #e2a200);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 74% 0%;
    }
    50% {
      background-position: 27% 100%;
    }
    100% {
      background-position: 74% 0%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 74% 0%;
    }
    50% {
      background-position: 27% 100%;
    }
    100% {
      background-position: 74% 0%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 74% 0%;
    }
    50% {
      background-position: 27% 100%;
    }
    100% {
      background-position: 74% 0%;
    }
  }
}
.home-page {
  display: table-cell;
  vertical-align: middle;
}
.enter-btn {
  width: 200px;
  height: 30px;
  background-color: transparent;
  border: 1px solid $white;
  color: $white;
}

.main-text {
  font-family: 'East Sea Dokdo', cursive;
  font-size: 40px;
  color: rgb(209, 209, 209);
}

// 로그인 폼
.login-form-container {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: table;
}
.login-form {
  display: table-cell;
  vertical-align: middle;
}

// 회원가입 폼
.sign-up-container {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: table;
}
.sign-up-form {
  display: table-cell;
  vertical-align: middle;
}

// 색상 카테고리
.colors input {
  width: 30px;
  height: 30px;
}

// 상품페이지
.post-page-container {
  padding-top: 120px;
}

// 상세페이지
.detail-page-container {
  margin-top: 150px;
}

.cart-page-container div {
  margin-top: 500px;
}

// 푸터
footer {
  color: #fefefe;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
  text-align: center;
  line-height: 25px;
  background-color: rgb(46, 46, 46);
}
